* {
  padding: 0;
  margin: 0;
  transition: .2s;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Nerdfont';
  background-color: var(--bg);
  overflow-x: hidden;
}

:root {
  --accent-light: #d9aaaa;
  --accent-dark:  #00f;
  --shadow: #0002;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg:  #323;
    --bg2: #886C88;
    --txt: #112;

    --gradient:  linear-gradient(45deg, var(--bg), var(--accent-dark));
    --gradient2: linear-gradient(45deg, var(--accent-light), var(--accent-dark))
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg:  #ccf;
    --bg2: #7171AA;
    --txt: #090933;

    --gradient:  linear-gradient(45deg, var(--accent-light), var(--bg));
    --gradient2: linear-gradient(45deg, var(--accent-light), var(--accent-dark))
  }
}

h1, sub {
  text-align: center;

  background: linear-gradient(45deg, var(--accent-light), var(--accent-dark));
  background-clip: text;
  color: transparent;

  font-size: min(25vh, 25vw);
  font-weight: bolder;
  text-shadow: 0.5vw 0.5vh min(1vw, 1vh) var(--shadow);
}

a {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

a:hover {
  color: var(--txt);
  cursor: pointer;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0.5rem;
  width: 100vw;
}

footer a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  font-size: 2rem;
}

#landing {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);

  align-content: center;
}

section:first-child:after {
  display: block;
  position: absolute;
  bottom: 0;
  content: '';
  /* filter: drop-shadow(-0.5vh 0.5vw min(1vw, 1vh) var(--shadow)); */
  border-top: 12.5vh solid var(--bg);
  border-left: 100vw solid var(--bg2); /* TODO: change to --bg when adding next section */
}

section {
  background: var(--bg2);
}

ul {
  list-style-type: none;
}

#about-me > ul {
  width: calc(100vw - 2.5em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5em;
}

#about-me li {
  width: calc(50vw - (2.5em / 2));
  font-size: 1.5rem;
  font-weight: 600;
}

#about-me li > ul {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

#about-me img {
  height: 20em;
  margin-left: calc(100% - 20em); /* same as gap*/
  border-radius: 1em;
}

#experience {
  padding: 4em 0 8em;
  display: flex;
  justify-content: center;
}

#experience ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: flex-end; */
  gap: 2em;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  
  max-width: 60%;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

#experience li {
  padding: .5em;
  margin: .5em;
  
  background-color: var(--bg2);
  border-radius: 1em;
  box-shadow: 0.5vw 0.5vh min(1vw, 1vh) var(--shadow);

  
  scroll-snap-align: center;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

#experience li > div {
  text-align: center;
  letter-spacing: .5em;
}

#experience p {
  font-weight: 600;
}

#about-me [icon]:before,
#experience [icon]:before,
#experience div {
  content: attr(icon);
  padding: .5em;
  font-size: 1.2em;

  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

#about-me a, 
#experience a {
  font-weight: 700;
}

@media screen and (orientation: portrait) {

  #about-me {
    padding-top: 7.5vw;
  }

  #about-me > ul, #about-me > ul > li:has(img) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  #about-me img {
    width: 80vw;
    height: 80vw;
    margin: 0 10vw;
  }

  #about-me li:has(ul) {
    width: 100vw;
  }

  #about-me li > ul {
    transform: none;
    position: static;
    width: 100vw;
  }

  #about-me li > ul > li {
    width: 80vw;
    margin: 0 10vw;
  }

  #experience ul {
    width: 80vw;
    max-width: unset;
  }

  #experience ul li {
    max-width: 70vw;
    margin: .5em 15vw ;
  }
}
