* {
  padding: 0;
  margin: 0;
  transition: .2s;
}

html, body {
  height: 100vh;
  width: 100vw;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Nerdfont';

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg:  #323;
    --txt: #d9aaaa;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg:  #ccf;
    --txt: #3535d8;
  }
}


body {
  background-color: var(--bg);
}

p, sub, footer {
  text-align: center;

  background: linear-gradient(45deg, #d9aaaa, blue);
  background-clip: text;
  color: transparent;

  font-size: min(25vh, 25vw);
  font-weight: bolder;
  text-shadow: 0.5vw   0.5vh min(1vw, 1vh) #0002;
}

sub {
  font-size: min(5vh, 5vw);
}

a {
  color: transparent;
}

a:hover {
  color: var(--txt);
  cursor: pointer;
}

footer {
  width: 100vw;
  position: absolute;
  bottom: 1rem;

  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  font-size: 2rem;
}